$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #01579b;
$primary-dark: #005b9f;
$primary-light: #4f83cc;
$on-primary: #ffffff;

$seconday: #03a9f4;
$seconday-dark: #007ac1;
$seconday-light: #67daff;
$on-seconday: #ffffff;

$error: #B00020;
$on-error: #ffffff;

$success: #43a047;
$on-success: #ffffff;
